/* Стилі для головного контейнера */
body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Стилі для форми */
form {
    text-align: center;
}

/* Стилі для поля вводу пароля */
.password-input {
    background-color: black; /* Чорний фон */
    color: white; /* Білий текст */
    border: 2px solid white; /* Біла рамка */
    padding: 10px; /* Відступи */
}

/* Стилі для кнопки "Submit" */
input[type="submit"] {
    background-color: black; /* Білий фон */
    color: white; /* Чорний текс */
    border:  2px solid white; /* Відсутність рамки */
    padding: 10px 20px; /* Відступи */
    cursor: pointer; /* Змінний покажчик */
}
