/* Стилі для головного контейнера */
body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.password-form {
    text-align: center;
}
